body {
    background-image: url('gramado.jpg');
    
}



#box { 
    width: 220px; 
    height: 220px; 
    background: url('bola.png');
    background-repeat: no-repeat;
    position: absolute; 
    left: 200px; 
    top: 200px;
    
}
